footer {
  width: 100%;
  background-color: black;
  padding: 30px 5px;
  color: cornsilk;
}
.flex_footer {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
}
.footer_item {
  width: 30%;
}
