.flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: stretch;
}

.header__menu a {
  text-transform: uppercase;
  text-decoration: none;
  color: $color_menu_txt;
  font-size: 14px;
}
.header__menu li {
  padding: 10px;
  text-align: right;
}

.header__menu i {
  padding-left: 20px;
  margin-right: 20px;
  font-size: 24px;
}
.header__menu {
  display: flex;
  list-style: none;
}
.header_block {
  // position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
}
.logo {
  width: 20%;
  h1 {
    font-size: 24px;
  }
}
.header__nav {
  width: 70%;
}
.parallax-window {
  width: 100%;
  min-height: 100vh;
  background: transparent;
}
