//@import "parallax";
@import "color";
@import "header";
@import "footer";

$text2: "Playfair Display", serif;
$text1: "Open Sans Condensed", sans-serif;
html,
body {
  font-family: $text1;
  font-weight: 200;
}
.header {
  width: 80%;
  height: 100vh;
  background-image: url('/img/bg.jpg');
}
